---
import Layout from "../layouts/Layout.astro";

---
<Layout title="W new Page">
    <main class="bg-blue-100 min-h-screen">
        <section class="w-full max-w-7xl mx-auto px-10 space-y-10">
            <div class="max-w-lg mx-auto space-y-4">
                <p class="text-3xl text-orange-300 font-bold pt-2">New</p>
				<div class="space-y-2">
					<p class="t-lg font-medium">Hydrogen VS Electric Cars</p>
					<p class="text-sm font-light">Will hydrogen-fueled cars ever catch up to Evs?</p>
					<hr class="w-full border border-blue-300"/>
				</div>
				<div class="space-y-2">
					<p class="text-lg font-medium">The Downsides of Al Artistry</p>
					<p class="text-sm font-light">What are the possible adverse effects of on-demand Al image generation?</p>
					<hr class="w-full border border-blue-300"/>
				</div>
				<div class="te space-y-2">
					<p class="text-lg font-medium">Is VC Funding Drying Up?</p>
					<p class="text-sm font-light">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
					<hr class="w-full border border-blue-300"/>
				</div>
				<div class="space-y-2">
					<p class="t-lg font-medium">Hydrogen VS Electric Cars</p>
					<p class="text-sm font-light">Will hydrogen-fueled cars ever catch up to Evs?</p>
					<hr class="w-full border border-blue-300"/>
				</div>
				<div class="space-y-2">
					<p class="text-lg font-medium">The Downsides of Al Artistry</p>
					<p class="text-sm font-light">What are the possible adverse effects of on-demand Al image generation?</p>
					<hr class="w-full border border-blue-300"/>
				</div>
				<div class="te space-y-2">
					<p class="text-lg font-medium">Is VC Funding Drying Up?</p>
					<p class="text-sm font-light">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
					<hr class="w-full border border-blue-300"/>
				</div>
				<div class="space-y-2">
					<p class="t-lg font-medium">Hydrogen VS Electric Cars</p>
					<p class="text-sm font-light">Will hydrogen-fueled cars ever catch up to Evs?</p>
					<hr class="w-full border border-blue-300"/>
				</div>
				<div class="space-y-2">
					<p class="text-lg font-medium">The Downsides of Al Artistry</p>
					<p class="text-sm font-light">What are the possible adverse effects of on-demand Al image generation?</p>
					<hr class="w-full border border-blue-300"/>
				</div>
				<div class="te space-y-2">
					<p class="text-lg font-medium">Is VC Funding Drying Up?</p>
					<p class="text-sm font-light">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
					<hr class="w-full border border-blue-300"/>
				</div>
                
            </div>
        </section>
    </main>

</Layout>