---
import Layout from "../layouts/Layout.astro";

---
<Layout title="W new Page">
    <main class="bg-green-100 min-h-screen">
        <section class="w-full max-w-7xl mx-auto px-10">
            <div class="max-w-lg mx-auto space-y-4">
                <p class="text-3xl text-orange-300 font-bold pt-2">Popular</p>
            </div>
        </section>
    </main>

</Layout>