---
import Layout from "../layouts/Layout.astro";

---
<Layout title="W trending Page">
    <main class="bg-yellow-100 min-h-screen">
        <section class="w-full max-w-7xl mx-auto px-10">
            <div class="max-w-lg mx-auto space-y-4">
                <p class="text-3xl text-orange-300 font-bold pt-2">Trending</p>
                <div class="space-y-5">
                    <h1 class="text-2xl md:text-4xl font-bold">The Bright Future of Web 3.0?</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum saepe ullam distinctio sed temporibus quaerat eum voluptas vero quos tempore excepturi dolorem, voluptates cumque laudantium cum nostrum repudiandae iure quidem eius quasi? Modi voluptates quas doloribus vero quasi a expedita accusantium impedit repellat quaerat porro dicta ipsa, molestiae dolores?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum saepe ullam distinctio sed temporibus quaerat eum voluptas vero quos tempore excepturi dolorem, voluptates cumque laudantium cum nostrum repudiandae iure quidem eius quasi? Modi voluptates quas doloribus vero quasi a expedita accusantium impedit repellat quaerat porro dicta ipsa, molestiae dolores?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum saepe ullam distinctio sed temporibus quaerat eum voluptas vero quos tempore excepturi dolorem, voluptates cumque laudantium cum nostrum repudiandae iure quidem eius quasi? Modi voluptates quas doloribus vero quasi a expedita accusantium impedit repellat quaerat porro dicta ipsa, molestiae dolores?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum saepe ullam distinctio sed temporibus quaerat eum voluptas vero quos tempore excepturi dolorem, voluptates cumque laudantium cum nostrum repudiandae iure quidem eius quasi? Modi voluptates quas doloribus vero quasi a expedita accusantium impedit repellat quaerat porro dicta ipsa, molestiae dolores?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum saepe ullam distinctio sed temporibus quaerat eum voluptas vero quos tempore excepturi dolorem, voluptates cumque laudantium cum nostrum repudiandae iure quidem eius quasi? Modi voluptates quas doloribus vero quasi a expedita accusantium impedit repellat quaerat porro dicta ipsa, molestiae dolores?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum saepe ullam distinctio sed temporibus quaerat eum voluptas vero quos tempore excepturi dolorem, voluptates cumque laudantium cum nostrum repudiandae iure quidem eius quasi? Modi voluptates quas doloribus vero quasi a expedita accusantium impedit repellat quaerat porro dicta ipsa, molestiae dolores?</p>
                </div>
            </div>
        </section>
    </main>

</Layout>